:root {
  font-size: 18px;

  --container: 33.75rem;

  --rounded-sm: 0.25rem;
  --rounded-md: 0.5rem;
  --rounded-full: 9999px;

  --ff-base: "Josefin Sans", sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;

  /* Primary colors */
  --primary-100: hsl(220, 98%, 61%);
  --primary-linear-100: linear-gradient(
    to right,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
}

body[data-theme="light"] {
  --neutral-100: hsl(0, 0%, 98%);
  --neutral-101: hsl(236, 33%, 92%);
  --neutral-102: hsl(233, 11%, 84%);
  --neutral-103: hsl(236, 9%, 61%);
  --neutral-104: hsl(235, 19%, 35%);

  --bg-url-desktop: url("../images/bg-desktop-light.jpg");
  --bg-url-mobile: url("../images/bg-mobile-light.jpg");
}

body[data-theme="dark"] {
  --neutral-100: hsl(235, 21%, 11%);
  --neutral-101: hsl(235, 24%, 19%);
  --neutral-102: hsl(234, 39%, 85%);
  --neutral-103: hsl(236, 33%, 92%);
  --neutral-104: hsl(234, 11%, 52%);
  /* --neutral-105: hsl(233, 14%, 35%);
 --neutral-106: hsl(237, 14%, 26%); */

  --bg-url-desktop: url("../images/bg-desktop-dark.jpg");
  --bg-url-mobile: url("../images/bg-mobile-dark.jpg");
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: var(--ff-base);
}

button,
input {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  outline: 0;
  border: 0;
}

button {
  background: none;
}

button:hover {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
}

.container {
  max-width: var(--container);
  margin-inline: auto;
}

.filter-menu-mobile {
  display: none;
}

/* Input section */
#input-section {
  padding-block: 5rem;
  background: var(--bg-url-desktop) no-repeat center center;
  background-size: cover;
}

#input-section header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#input-section header h1 {
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 10px;
  font-size: 2rem;
}

#input-section header .theme-button {
  padding: 0.25rem;
}

#input-section form {
  margin-top: 2rem;
}

#input-section form input[type="text"] {
  width: 100%;
  padding: 1.5rem 1rem;
  caret-color: var(--primary-100);
  border-radius: var(--rounded-sm);
}

/* Task list section */
#task-list-section {
  min-height: calc(100vh - 324.4px);
  background-color: var(--neutral-100);
}

#task-list-section > .container {
  position: relative;
  top: -3.5rem;
  border-radius: var(--rounded-sm);
  background-color: #fff;
  box-shadow: 5px 64px 193px 0px rgba(230, 230, 230, 1);
}

#task-list-section .task-list > li {
  display: grid;
  grid-template-columns: 1fr 8fr 2fr;
  justify-items: start;
  align-items: center;
  padding: 1.5rem 1rem;
  border-block-end: 1px solid var(--neutral-102);
}

#task-list-section .task-list > li > input[type="checkbox"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  width: 1.5rem;
  height: 1.5rem;
  border-radius: var(--rounded-full);
  border: 1px solid var(--neutral-102);
}

#task-list-section .task-list > li > input[type="checkbox"]:hover {
  cursor: pointer;
}

#task-list-section .task-list > li > input[type="checkbox"]:checked {
  background-image: url(../images/icon-check.svg), var(--primary-linear-100);
  background-repeat: no-repeat;
  background-position: center center;
}

#task-list-section .task-list > li > :nth-child(2) {
  color: var(--neutral-104);
}

#task-list-section .task-list > li > input[type="checkbox"]:checked + span {
  color: var(--neutral-102);
  text-decoration: line-through var(--neutral-103) 1px;
}

#task-list-section .task-list > li > :last-child {
  display: none;
  justify-self: end;
}

#task-list-section .task-list > li:hover > :last-child {
  display: block;
}

/* Task actions section */
#task-list-section .container > div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 1rem;
  color: var(--neutral-103);
}

#task-list-section .container > div:nth-child(2) .filter-menu {
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 1rem;
  font-weight: var(--fw-bold);
}

#task-list-section .container > div:nth-child(2) .filter-menu > li:hover,
#task-list-section .container > div:nth-child(2) .clear-completed:hover {
  cursor: pointer;
  color: var(--neutral-104);
}

#task-list-section .container > div:nth-child(2) .filter-menu > li.active {
  color: var(--primary-100);
}

/* Media query for smaller screens */
@media (max-width: 670px) {
  :root {
    font-size: 16px;

    --container: 90%;
  }

  #input-section {
    padding-block: 3rem;
    background-image: var(--bg-url-mobile);
  }

  #input-section header h1 {
    font-size: 1.75rem;
  }

  #task-list-section .container {
    top: -1.5rem;
  }

  #task-list-section .task-list > li {
    column-gap: 0.5rem;
    padding-block: 1.25rem;
  }

  #task-list-section .task-list > li > :last-child {
    display: block;
  }

  #task-list-section .task-list > li:hover > :last-child {
    display: initial;
  }

  #task-list-section .container > div:nth-child(2) .filter-menu {
    display: none;
  }

  /* Filter section for mobile */
  #task-list-section > div.container:nth-child(2) {
    margin-block-start: 1.5rem;
  }

  .filter-menu-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    padding: 1.25rem 1rem;
    color: var(--neutral-103);
    font-weight: var(--fw-bold);
  }
}

body[data-theme="dark"] #input-section form input[type="text"] {
  color: #fff;
  background-color: var(--neutral-101);
}

body[data-theme="dark"] #task-list-section > .container {
  background-color: var(--neutral-101);
  box-shadow: none;
}

body[data-theme="dark"] #task-list-section .task-list > li > :nth-child(2) {
  color: #fff;
}
